body {
    margin: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .container {
    background: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
  }
  
  #scene-container {
    display: block;
  }
  